<nav class="navbar p-0 m-0">
  {% if app.user %}
    <button type="button" id="sidebarCollapse" class="btn-menu p-0 w-50px btn">
      <i class="icon-menu fas fa-bars"></i>
    </button>
    <a href="/" class="logo-home-user">
      <img src="{{ asset('build/logo.png') }}"/>
    </a>
  {% else %}
    <a href="/" class="logo-home">
        <img src="{{ asset('build/logo.png') }}"/>
    </a>
    <a href="/login" class="w-50px btn-user btn">
        <i class="icon-login far fa-user"></i>
    </a>
    <a href="/register" class="w-50px btn-connect btn">
      <i class="icon-user fas fa-user-plus"></i>
    </a>
  {% endif %}

</nav>
<div class="overlay">
</div>
<div class="wrapper">
    <!-- Sidebar -->
  <nav id="sidebar" class="fontUbuntuItalic">
      <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
      </div>
      <div class="sidebar-header">
      {% if app.user %}
        <div class="row user-info mb-1 pb-2">
          <div class="col-3 my-auto">
          {% if app.user.imageProfil %}
            <img class="rounded-circle logo-size-50" src="{{ asset('build/images/uploads/' ~ app.user.imageProfil) }}"/>
          {% else %}
            <img class="rounded-circle logo-size-50" src="{{ asset('build/default_user.png') }}"/>
          {% endif %}
          </div>
          <div class="col-9 pr-1 pl-3 my-auto">
            {{ app.user.username }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="/utilisateur/edit/{{ app.user.id }}" class="edit_account">{{ 'edit_account'|trans }}</a>
          </div>
          <div class="col-12">
            <a href="" class="edit_account">{{ 'settings'|trans }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="/logout" class="logout-btn">{{ 'logout'|trans }}</a>
          </div>
        </div>
        {% endif %}
      </div>
      {# Action utilisateur #}
        <div class="p-1 pl-3 menu-category fontSize18">
            {{ 'menu_user_actions'|trans }}
        </div>
        <ul class="list-unstyled menu-sub-category m-0">
          <li class="active">
            <div class="container-fluid menu-link">
              <div class="row">
                <div class="col-12 pb-1">
                  <a class="fontSize16" href="/dashboard">
                    {{ 'dashboard'|trans }}
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pb-1">
                  <a class="fontSize16" href="#">
                    {{ 'dashboard'|trans }}
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      {# Action admin SKB #}
      {% for breadcrumb_category in knp_menu_get('main') %}
        <div class="p-1 pl-3 menu-category fontSize18">
          {{ breadcrumb_category.label|trans }}
        </div>
        <ul class="list-unstyled menu-sub-category m-0">
        {% for breadcrumb_subcategory in breadcrumb_category %}
          <li class="active">
          {% if (breadcrumb_subcategory.children|length != 0)%}
              <div class="container-fluid dropdown-category">
                <a class="fontSize16" href="#{{ breadcrumb_subcategory.label }}" data-toggle="collapse" aria-expanded="false">
                  <div class="row">
                    <div class="col-12">
                      <i class="fas fa-caret-right mr-2" ></i>
                      {{ breadcrumb_subcategory.label|trans }}
                    </div>
                  </div>
                </a>
              </div>
              <ul class="collapse list-unstyled menu-sub-link" id="{{ breadcrumb_subcategory.label }}">
                {% for breadcrumb_link in breadcrumb_subcategory %}
                  {% if (breadcrumb_link.uri != "") %}
                    <li>
                        <a href="{{ breadcrumb_link.uri }}">{{ breadcrumb_link.label|trans }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          {% else %}
            {% if (breadcrumb_subcategory.uri != "") %}
            <div class="container-fluid menu-link">
              <div class="row">
                <div class="col-12">
                  <a class="fontSize16" href="{{ breadcrumb_subcategory.uri }}">
                    {{ breadcrumb_subcategory.label|trans }}
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endif %}
          </li>

        {% endfor %}
        </ul>
      {% endfor %}
  </nav>
  <div id="content">
  </div>
</div>
<nav class="fixed-sous-nav w-100" id="sousNav">
  <div class="container">
    <div class="row">
      <a class="col sous-nav-bar-item align-items-center d-flex justify-content-center" href="/entreprises/list">
        <span class="fontAlice fontW600 fontSize16">{{ 'local_business'|trans }}</span>
      </a>
      <a class="col sous-nav-bar-item align-items-center d-flex justify-content-center" href="/entreprise">
        <span class="fontAlice fontW600 fontSize16">{{ 'company_director'|trans }}</span>
      </a>
      <a class="col sous-nav-bar-item align-items-center d-flex justify-content-center" href="#">
        <span class="fontAlice fontW600 fontSize16">{{ 'who_is'|trans }}</span>
      </a>
      <a class="col sous-nav-bar-item align-items-center d-flex justify-content-center" href="#">
        <span class="fontAlice fontW600 fontSize16">{{ 'contact_us'|trans }}</span>
      </a>
      <a class="col sous-nav-bar-item align-items-center d-flex justify-content-center" href="/dashboard2">
        <span class="fontAlice fontW600 fontSize16">{{ 'recruit'|trans }}</span>
      </a>
    </div>
  </div>
</nav>
