{% extends 'base.html.twig' %}

{% block title %}
  {% if sousCategoryId is same as("null") %}
    {{ 'sous_category_title_create_page'|trans }}
  {% else %}
    {{ 'sous_category_title_edit_page'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  {% if sousCategoryId is same as("null") %}
    <h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'category_title_create_page'|trans }}</h1>
  {% else %}
    <h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'category_title_edit_page'|trans }}</h1>
  {% endif %}
<form-sous-category :sous-category-id="{{ sousCategoryId }}"></form-sous-category>
{% endblock %}
