{# /app/templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="card-register-pt">
  {{ form_start(registrationForm) }}
  <div class="register-card">
    <div class="row user-header-card">
      <div class ="col">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container_register">
            <img src="{{ asset('build/images/logo.png') }}" class="brand_logo" alt="Logo">
          </div>
        </div>
      </div>
    </div>
    <form method="POST">
        <div class="">
        <div class="form-group">
          {{ form_widget(registrationForm.login, {'attr': {'class': 'form-control', 'placeholder': 'login_placeholder'|trans }}) }}
          {% if form_errors(registrationForm.login) %}
            <div class="fontLogin error-message">
              {{ form_errors(registrationForm.login) }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'last_name_placeholder'|trans }}) }}</div>
            <div class="col">{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'first_name_placeholder'|trans }}) }}</div>
          </div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'email_placeholder'|trans, 'required': 'required' }}) }}
          {% if form_errors(registrationForm.login) %}
            <div class="fontLogin error-message">
              {{ form_errors(registrationForm.login) }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'password_placeholder'|trans, 'required': 'required' }}) }}
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'password_confirmation_placeholder'|trans, 'required': 'required' }}) }}
          {% if form_errors(registrationForm.plainPassword.first) or form_errors(registrationForm.plainPassword.second) %}
            <div class="fontLogin error-message">
              {{ form_errors(registrationForm.plainPassword.first) }}
            </div>
          {% endif %}
        </div>

        <div class="form-group">
          <label class="form-check-label fontLogin">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'required': 'required' }}) }}
            {{'accept_terms_begin_message'|trans}} <a href="#" class="inscription">{{'accept_terms_end_message'|trans}}</a>
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn login_btn btn-lg fontLogin inscription">{{ 'register_now'|trans }}</button>
        </div>
      <div class="text-center fontLogin">{{ 'already_have_an_account'|trans }} <a href="#" class="inscription">{{ 'sign_in'|trans }}</a></div>
    </form>
  </div>
</div>
{{ form_end(registrationForm) }}
{% endblock %}
