{% extends 'base.html.twig' %}

{% block title %}
  {% if categoryId is same as("null") %}
    {{ 'category_title_create_page'|trans }}
  {% else %}
    {{ 'category_title_edit_page'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  {% if categoryId is same as("null") %}
    <h1 class="fontUbuntu orange-skb text-center p-1">{{ 'category_title_create_page'|trans }}</h1>
  {% else %}
    <h1 class="fontUbuntu orange-skb text-center p-1">{{ 'category_title_edit_page'|trans }}</h1>
  {% endif %}
<form-category :category-id="{{ categoryId }}"></form-category>
{% endblock %}
