{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<login></login>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


  <div class="container h-100 card-login-pt">
    <div class="row">
     <div class="col">
        <div class="d-flex justify-content-center h-100">
          <div class="user_card">
           <div class="row user-header-card">
            <div class ="col">
                <div class="d-flex justify-content-center">
                  <div class="brand_logo_container">
                    <img src="{{ asset('build/images/logo.png') }}" class="brand_logo" alt="Logo">
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center form_container">
              <form method="POST">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" name="email" class="form-control input_user" id="inputEmail"  value="{{ last_username }}"  placeholder="email" autofocus>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" name="password" class="form-control input_pass" id="inputPassword" value="" placeholder="password">
                </div>
                  <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                  >
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                  </div>
                </div>
                  <div class="d-flex justify-content-center mt-3 login_container">
                      <button class="btn login_btn" type="submit">
                        Sign in
                      </button>
              </div>
              </form>
            </div>

            <div class="mt-4">
              <div class="d-flex justify-content-center links">
                Creer un compte ? <a href="/register" class="ml-2">Inscription</a>
              </div>
              <div class="d-flex justify-content-center links">
                <a href="#">Forgot your password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
{% endblock %}
